<div class="col-md-4">
    <a href="/{{slug}}">
        <div class="feature feature-1">
            <img alt="Image" src="https://lh3.googleusercontent.com/AZhweWDGVc7jwLLartVJjubxTQ_zqeqAFnTcfxOy4VEeb0nRTv8YmPUzIkkas1LHVYHpn7xsgAiMXGH8RzHui2KJ7Mw"/>
            <div class="feature__body boxed boxed--lg boxed--border">
                <h4>{{ name }}</h4>
                <h5>{{ city }},&nbsp;{{ state }}</h5>
            </div>
        </div>
    </a>
    <!--end feature-->
</div>
