<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                </div>
                <div class="col-9 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs " data-scroll-class='366px:pos-fixed'>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 hidden-xs mynav">
                    <div class="bar__module">
                        {{! <a href="/">
                            <h6>www.42-living.com</h6>
                        </a> }}
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-20 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li class="dropdown">
                                <a href="/">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="/">About Us</a>
                            </li>
                            <li class="dropdown">
                                <a href="/">Recent Listing</a>
                            </li>
                            <li class="dropdown">
                                <a href="/">Search Homes</a>
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
