<section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bar__module">
                            <span><i class="fa fa-phone" style="padding-right: 10px;"></i> Call Us (666)121-4321 <i class="fa fa-envelope" style="padding-right: 10px; padding-left: 20px;"></i>42living@realestate.com</span>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                <li>
                                    <div class="modal-instance">
                                        <a href="/login">Login</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="modal-instance">
                                        <a href="/">Create Account</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <a href="#" data-notification-link="search-box">
                                        <i class="/"></i>Careers
                                    </a>
                                </li>
                                    <li>
                                    <a href="#" data-notification-link="search-box">
                                        <i class="/"></i>Sign Out
                                    </a>
                                </li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>